<?xml version="1.0"?>
<robot name="khr-3hv" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find sotuken2017)/urdf/khr_body/khr-body normal.xacro"/>
	<xacro:include filename="$(find sotuken2017)/urdf/khr_head/khr-head normal.xacro"/>
	<xacro:include filename="$(find sotuken2017)/urdf/khr_arm/khr-arm normal.xacro"/>
	<xacro:include filename="$(find sotuken2017)/urdf/khr_leg/khr-leg normal.xacro"/>
	
	<!-- head -->
	<xacro:make_head parent="base_link"/>
	
	<!-- base link (body)-->
	<xacro:make_body/>
	
	<!-- left arm -->
	<xacro:make_arm parent="base_link" LRarm="L" ref="1" arm_bool="true"/>

	<!-- right arm -->
	<xacro:make_arm parent="base_link" LRarm="R" ref="-1" arm_bool="false"/>
	
	<!-- left leg -->
	<xacro:make_leg parent="body_2" LRleg="L" ref="1" leg_bool="true"/>
		
	<!-- right leg -->
	<xacro:make_leg parent="body_2" LRleg="R" ref="-1" leg_bool="false"/>
	
</robot>