<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="M_PI" value="3.14159274"/>

  <!-- common color -->
  <xacro:macro name="set_color">
	  <material name="default">
   		<color rgba="0.8 0.8 0.8 1.0"/>
  	  </material>
  </xacro:macro>
  
  <xacro:macro name="silver">
	  <material name="silver">
   		<color rgba="${192 / 255} ${192 / 255} ${192 / 255} 1.0"/>
  	  </material>
  </xacro:macro>
  
  <xacro:macro name="darkgray">
	  <material name="dimgray">
   		<color rgba="${105 / 255} ${105 / 255} ${105 / 255} 1.0"/>
  	  </material>
  </xacro:macro>
  
  <xacro:macro name="lightgray">
	  <material name="lightgray">
   		<color rgba="${211 / 255} ${211 / 255} ${211 / 255} 1.0"/>
  	  </material>
  </xacro:macro>

  <!-- calculate box inertia -->
  <xacro:macro name="box_inertial" params="m d w h">
    <mass value="${m}"/>
    <inertia ixx="${(m * (h * h + d * d)) / 12}"   ixy="0" ixz="0"
             iyy="${(m * (w * w + d * d)) / 12}"   iyz="0"
             izz="${(m * (w * w + h * h)) / 12}" />
  </xacro:macro>

</robot>
